PROJECT_NAME="monitoring-stack"
PROMETHEUS_VERSION=v2.53.0
GRAFANA_VERSION=11.1.0
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=your-admin-username
GRAFANA_ADMIN_PASSWORD=your-admin-password